/*general*/

:root {
	--key_value: 15px;
	--color-grey: #ababab;
	--transition: all .666s;
	--transition_s: all .333s ease-in-out;
	--header: 30px;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

img,
video,
iframe {
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	object-fit: cover;
	transform: translate3d(0,0,0);
}

#archive img {
	/* width: calc((100vw/24*10) - 90px); */
	width: 100%;
}

#archive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.vimeo-thumb {
	position: relative;
	z-index: -1;
}

/*fonts*/

@font-face {
	font-family: '';
	src: url('') format('');
}

a {
	all: unset;
	display: block;
	cursor: pointer;
	color: var(--color-grey);
	transition: var(--transition);
}

span {
	all: unset;
}

a:not(.list-item):hover,
a.active {
	color: black;
}

h1,
h2,
p,
a,
span {
	font-family: 'Arial';
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h1,
h2,
p {
	color: black;
}

/*header*/

header {
	width: 100%;
	display: flex;
	align-items: flex-start;
	position: sticky;
	top: 0;
	left: 0;
	padding: var(--key_value) var(--key_value) 0;
	z-index: 2;
}

header>* {
	flex: 1;
}

header h1 {
	text-transform: uppercase;
}

nav {
	display: flex;
	align-items: flex-start;
	flex-grow: 7;
	gap: 3px;
}

nav a {
	width: fit-content;
}

#about-button {
	margin-left: auto;
}

nav>*:not(:last-child) {
	width: calc(100vw/24);
}

nav>*.active a {
	color: black;
}

#title a {
	color: black;
}

#title a:hover {
	color: var(--color-grey);
}

/*info*/

#info-container {
	display: none;
}

/*list*/

#list {
	padding: 0 calc(100vw/24);
	position: fixed;
	width: 100vw;
	top: calc(100vw/24 + var(--header));
}

.list-item {
	display: flex;
	overflow: hidden;
	height: var(--key_value);
	transition: var(--transition);
	position: relative;
}

.list-item>* {
	flex: 1;
}

.list-item>*:not(:first-child) {
	flex-grow: 5;
}

.list-item>*:last-child,
.list-item>*:nth-last-child(2) {
	text-align: right;
}

.list-item>*:last-child {
	flex-grow: 6;
}

.list-item.filter {
	height: 0 !important;
	padding: 0 !important;
}

/*gallery*/

#gallery-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	z-index: -1;
}

.thumbnail {
	transition: var(--transition);
	overflow: hidden;
	position: relative;
	width: calc(100vw/24*10 - 90px);
	margin: 0 auto;
}

.thumbnail:not(:last-child) img {
	margin-bottom: 5px;
}

.thumbnail.unactive {
	filter: blur(3px);
	opacity: .3;
}

.thumbnail img {
	transition: var(--transition);
}

.thumbnail img.filter {
	height: 0 !important;
	margin-bottom: 0 !important;
}

/*single*/

#gallery-container.single-view {
	height: initial;
	overflow: initial;
	/* z-index: 0; */
}

#post>* {
	transition: var(--transition);
}

#single-gallery {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 100%; */
	height: 100%;
	width: calc(100vw/24*12);
	left: 50%;
	transform: translate(-50%, 0);
}

#single-gallery>* {
	position: absolute;
	/* max-width: calc(100vw/24*12); */
	transition: var(--transition_s);
	opacity: 0;
	max-width: 100%;
}

#single-gallery iframe {
	width: 100%;
}

#single-gallery>*.active {
	opacity: 1;
}

.single-view .video-wrapper,
.single-view .video-wrapper>* {
	width: 100%;
}

.single-view iframe {
	position: absolute;
}

#single-index {
	position: absolute;
	left: calc(100vw/24);
	top: 50vh;
	transform: translateY(0);
}

#thumbnails {
	position: absolute;
	top: calc(var(--header) + 100vw/24);
	right: var(--key_value);
	width: calc(100vw/24);
}

#thumbnails>* {
	width: 100%;
	height: auto;
	transition: var(--transition_s);
	opacity: .333;
	margin-bottom: 5px;
}

#thumbnails .video-wrapper {
	padding-bottom: 10px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid var(--color-grey);
	position: relative;
}

#thumbnails>*.active {
	opacity: 1;
}

#credits-button {
	position: absolute;
	top: 50vh;
	left: calc((100vw/6 * 5));
}

#credits-button.active a {
	color: black;
}

#single-gallery.credits {
	transform: translate(-50%, calc(var(--credits-height)));
}

#single-index.credits {
	transform: translateY(calc(var(--credits-height)));
}

#credits {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: var(--key_value);
	transform: translateY(100%);
}

#credits span {
	font-weight: normal;
	color: var(--color-grey);
}

#credits.active {
	transform: translateY(0);
}

/* about */

#about {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	background-color: rgba(255,255,255,.5);
	opacity: 0;
	pointer-events: none;
	transition: var(--transition);
	backdrop-filter: blur(10px);
	display: flex;
	align-items: end;
	padding: var(--key_value);
}

#about.active {
	opacity: 1;
	pointer-events: auto;
}

#about h1,
#social a {
	text-transform: uppercase;
}

#about>* {
	flex: 1;
}

#about a,
#about p {
	font-weight: normal;
}

#contact a,
#contact p {
	color: black;
}

#contact a:hover {
	color: var(--color-grey);
}

#about h1,
#contact>div>div:not(:last-child) {
	margin-bottom: var(--key_value);
}

#press {
	flex-grow: 3.8;
}

#contact>div {
	padding-right: calc(100vw/24);
}

#press>div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-height: 120px;
	gap: var(--key_value) 0;
	overflow: scroll;
}

#press a {
	/* flex: 1 1 calc(100%/4); */
	width: calc((100%/4) - calc(100vw/24));
	margin-right: calc(100vw/24);
}

/*responsive*/

@media (max-width: 768px) {

	/*settings*/

	h1,
	h2,
	p,
	a,
	span {
		font-size: 11px;
	}

	img,
	video {
		width: 100% !important;
		padding: 0 !important;
	}

	/*header*/

	header {
		padding-bottom: 2px;
		background-color: white;
	}

	#title {
		flex-grow: 3;
	}

	nav {
		flex-grow: 5;
	}

	nav>*:not(:last-child) {
		width: calc(100vw/8);
	}

	/*gallery*/

	#gallery-container {
		position: relative;
		height: initial;
		overflow: initial;
		z-index: 0;
	}

	.thumbnail {
		width: initial;
	}

	.thumbnail:not(:last-child) img {
		margin-bottom: 0;
	}

		.vimeo-thumb {
			width: 100%;
			height: auto;
		}

	#list {
		display: none;
	}

	.list-item {
		padding: 2px 10px;
	}

	.list-item>* {
		flex: 1;
		white-space: nowrap;
	}

	.list-item>*:nth-child(1),
	.list-item>*:nth-child(2) {
		flex: 0;
	}

	.list-item>*:nth-child(1)::after {
		content: "-";
		margin: 0 3px;
	}

	.list-item>*:nth-last-child(2) {
		position: absolute;
		left: 67%;
	}

}